body {
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0;
  }
.container{
    display:grid;
    grid-template-columns: auto auto auto ;
    
}
@media  screen and (max-width:768px){
    .container{
        grid-template-columns: auto auto auto ;
      
    }
    
  
}


@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
      
    }
    
  
}
.main img {
    width: 300px;
}


.header {
    padding: 60px;
    text-align: center;
    background: #dedfee;
    color: rgb(254, 255, 255);
    font-size: 30px;
  }


  .search_button {
    
        
      border: 1px solid transparent;
      cursor: pointer;
      background-color: rgb(228, 197, 186);
      padding: 2px 20px;
      color: #fff;
      outline: none;
      position: relative;
      right: 1px;
      }

      .btn{
        background-color: rgb(208, 193, 216) !important;
      }
  
  .search,.items{
    text-align: center;
  }
  .card{
    border-radius: 5px !important;
    background-color: rgb(245, 236, 239) !important;
    
  }
  .a{
    align-content: center;
  }